/* Basic HTML style activity */
/* 
Button color : #e67e22 Orange(carrot);


*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* Basic HTML style activity end */ 



/* Header style here*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    transform: translate(-50%,-50%);
}

h1{
    margin: 0;
    color: #fff;
    font-size: 240%;
    letter-spacing: 1.5px;
    word-spacing: 4px;
    font-weight: 300;
    margin-bottom: 20px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #b05d14;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #b05d14;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;   
    border: 1px solid #b05d14;
}
/*
logo style
*/
.logo{
    height: 100px;
    width: auto;
    float: left;
}

.main-nav{
    float: right;
}




/* Header style end*/