* {
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
    font-size: 18px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto 0 auto;
}

h1,h2{
    color: green;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}
h2{
    font-size: 25px;
}
.main-text{
    text-align: justify;
    margin-bottom: 20px;
}
#author-text{
    font-size: 22px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.blog-post {
    width: 75%;
    float: left;
    position: relative;
}

.other-post {
    width: 25%;
    float: left;
}

.author-box {
    padding-top: 20px;
    border-top: 1px solid #7e7e7e;
    
}


.other {
    margin-bottom: 40px;
    padding-left: 10px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;
}

.date {
    position: absolute;
    top: 0;
    right: 0;
    
}

