/* Big tablet to 1200px (width smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
    ..hero-text-box {
        width: 100%;
    }
}

/*Small small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    /*---------------------------*/
    /*Boday Part*/
    /*---------------------------*/
    body {
        font-size: 18px;
    }
    
    /*---------------------------*/
    /*Boday Part*/
    /*---------------------------*/
    
    header {padding: }
    .hero-text-box { padding: 0px 212px;}
    .main-nav {
        font-size: 15px;
    }
    .main-nav li {
        margin: 20px 20px auto 15px;
    }
    
    /*---------------------------*/
    /*Section-Feature*/
    /*---------------------------*/
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .box:first-child {
        padding-left: 10px;
    }
    .box:last-child {
        padding-right: 10px;
    }
    .btn-app img {
    height: 45px;
    width: auto;
    padding-left: 10px;
    padding-right: 20px;
    }
    blockquote:first-child {
        padding-left: 10px;
        padding-right: 10px;
    }
    .city-feature {
    margin-bottom: 5px;
    font-size: 90%;
    }
}

/*Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    
}

/*Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
}