/*---------------------------*/
/*Basic Setup*/
/*----------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #000;
    font-family: 'Lato','arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*---------------------------*/
/*Reusable Component*/
/*----------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
}

.box {
    padding: 1px;
}


/*---------------------------*/
/*Header*/
/*---------------------------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: relative;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1,h2,
h3 {
    font-weight: 300%;
    letter-spacing: 1px;
    text-transform: capitalize;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    text-align: center;
    word-spacing: 2px;
    font-size: 180%;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

/*---------------------------*/
/*Paragraph*/
/*---------------------------*/

.box p{
    
}

/*---------------------------*/
/*ICONS*/
/*---------------------------*/

.icon-big {
    font-size: 300%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
}

.icon-small {
    color: #e67e22;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -3px;
}

h3 {
    padding-bottom: 10px;
    font-size: 118%;
}



/*---------------------------*/
/*Button*/
/*---------------------------*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    
}


.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
    color: #fff;
}

/*---------------------------*/
/*Logo & navbar*/
/*---------------------------*/

.logo {
    height: 100%;
    width: 10%;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
    margin: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active  {
    border-bottom: 1px solid #e67e22;
    
}

/*---------------------------*/
/*MEALS*/
/*---------------------------*/

.section-meals {
    padding: 0;
}


.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
    
}

.meal-photo {
    width: 100%;
    margin: 0; 
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: .7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform .5s,opacity 1s;
    
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/*---------------------------*/
/*How it work section*/
/*---------------------------*/

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    float: left;
    
}

.steps-box:last-child {
    padding-left: 3%;
    float: right;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin: 40px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color:  #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 20px
}

.btn-app img {
    height: 50px;
    width: auto;
    padding-left: 20px;
    padding-right: 30px;
}

/*---------------------------*/
/*Cities*/
/*---------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.city-feature {
    margin-bottom: 5px;
}

.city-feature a:link,
.city-feature a:visited {
    color: #e67e22;
    text-decoration: none;
}

.city-feature a:hover,
.city-feature a:active {
    color: blue;
    text-decoration: underline;
}

/*---------------------------*/
/*TESTIMONIAL*/
/*---------------------------*/

.section-testimonials {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

blockquote {
    font-style: italic;
    line-height: 145%;
    padding: 2%;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: 0px;
    left: -3px;
}

cite {
    margin: 20px 10px 10px 0px;
    display: block;
    font-size: 90%;
}
cite img {
    height: 50%;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

/*---------------------------*/
/*PRICE PLAN*/
/*---------------------------*/

.section-plan {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 5%;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:last-child {
    text-align: center;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 15px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    
}

.plan-box ul {
    list-style: none;
    padding: 10px 0px;
}

.plan-box ul li {
    padding: 5px;
}
















